/engines/kinozal.cookie
/engines/kinozal.ico
/engines/kinozal.json
/engines/nnmclub.cookie
/engines/nnmclub.ico
/engines/nnmclub.json
/engines/rutor.ico
/engines/rutor.json
/engines/rutracker.cookie
/engines/rutracker.ico
/engines/rutracker.json
/modules
/tests
/proxylist.txt