/tests/
/venv/
/kinozal.cookie
/kinozal.cookie.bak
/kinozal.ico
/kinozal.json
/kinozal.json.bak
/nnmclub.cookie
/nnmclub.cookie.bak
/nnmclub.ico
/nnmclub.json
/nnmclub.json.bak
/rutracker.cookie
/rutracker.cookie.bak
/rutracker.ico
/rutracker.json
/rutracker.json.bak
